.pricing-container {
  display: flex;
  flex-wrap: wrap;
}

.pricing-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 0 0 200px;
  border: 2px solid black;
  margin: 0px 20px;
  padding: 0px 20px;
  align-items: center;
}

.basic-plan {
  order: 0;
}

.pro-plan {
  order: 1;
  flex-grow: 2;
}

.premium-plan {
  order: 2;
}

.price {
  color: gray;
  font-size: 1.3rem;
  border-bottom: 1px solid darkgrey;
  text-align: center;
  margin: 20px 0;
}