/* input[type="checkbox"] {
  appearance: none;
  border: 2px solid yellow;
  width: 20px;
  height: 20px;
}

input[type="checkbox"]:checked {
  background-color: yellow;
  content: "X";
} */

.feature-card {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  user-select: none;
}

.feature-card input {
  appearance: none;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.feature-card input:checked ~ .checkmark {
  background-color: #2196F3;
}

.feature-card input:checked ~ .checkmark:after{
  display: block;
}

.feature-card .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
}

.feature-card:hover input ~ .checkmark {
  background-color: #ccc;
}

.feature-card:checked input ~ .checkmark {
  background-color: #2196F3;
}